// カスタマイズサンプル
// Brandボタンをオレンジに
$color-background-button-brand: #EF6C00;
$color-border-button-brand: #EF6C00;
$color-background-button-brand-active: #E65100;
$color-background-button-brand-hover: #E65100;